<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1>hello world</h1>
    </div>

    <h1>hello world</h1>
    <style>
        #pay-success{
            display: flex;
            padding: 10px;
            gap: 10px;
        }
        #success{
            padding: 10px;
            gap: 10px;
        }
        #mhead{
            padding: 10px;
            padding-bottom: 0;
        }
        #imgdiv{
            background-size: cover;
            width: 400px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <div style="background-color: greenyellow;">
        <div id="imgdiv">
            <img src="./../static/images/prof.jpg" alt="image here" width="100px" height="100px"/>
        </div>
    </div>
    <script src="./../static/js/bootstrap.min.js"> </script>
</body>
</html>
