<style>
    
   .btn-outline-dark{
        background-color: transparent;
        color: #183153;
        border: 1px solid #183153;
    }
    .btn-outline-dark:hover{
        background-color: #183153;
        color: white;
    }
    .bg-spl:hover{
        background-color:#2188e8;
    }
    .bg-header{
        background-color: #183153;
    }
    .bg-back{
            background-color: #6fc3f3; /*#3da8f4;*/
        }
    .bg-input{
        background-color: #e4e0e0;
    }
    .text-color{
        color:  #183153;
    }
    .img-rad{
        border-radius: 12px;
    }
    .bg-spl{
        background-color:#2188e8;/* #205ead;
*/    }
    .bg-spl2{
        background-color: #205ead;
    }
    .bg-spl2:hover{
        background-color: #205ead;
    }
    
    #alertDiv{
        display: none;
        position: absolute;
        bottom: 50px;
        right:20%;
        border: 2px solid black;
    }
</style>
<footer class="bg-dark text-light row m-0 p-3 py-1" style="min-height: 5vh;">    
    <div class="row  m-0">
        <p class="text-center m-0">Copyright@ 2023  By VigneshM454 . All Rights Reserved</p>
    </div>
</footer>

