{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

  <header class="bg-dark d-flex flex-row align-items-center justify-content-center py-2" style="gap:5vw;min-height: 15vh; " >           
           <a href="" class="navbar-brand " data-bs-toggle="tooltip" aria-label="Brand" data-bs-original-title="Brand">
               <img src="{{url_for('static',filename='images/2.png')}}" class="rounded-circle" alt="" style="width: 60px; height: 60px;">
           </a>
           <h1 class="text-white"  ><b>Artifusion</b></h1>
  </header>
  <main>
    <div class="container-fluid bg1 d-flex flex-column align-items-center justify-content-center" style="height: 80vh;
    min-height: 420px;">
      <div class="d-flex flex-column gap-1  justify-content-around p-2 userMainDiv" >
        <div class="d-flex flex-row align-items-center justify-content-around my-2" >
          <h4 class=" text-light m-0 p-3 pb-2 pt-1 usertypes useractive" id="buy1">Buyer</h4>
          <h4 class=" text-light m-0 p-3 pb-2 pt-1 usertypes" id="sell1">Seller</h4>
        </div>
        <div class="dynamicContent p-2">
          <div class="slin p-2">
            <form action="" id="login-form" class="signin">
                <h4 class=" my-3 text-center" id="loginTitle">Buyer Login</h4>
                <div class="form-floating mb-3 mt-3">
                    <input required type="email" class="form-control" id="email"   name="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input required type="password" class="form-control" id="pwd"  name="pwd">
                    <label for="pwd">Password</label>
                </div>
                <div class="d-flex flex-row gap-2 justify-content-between align-items-center">
                  <p class="text-danger" id="forgotPass" style="font-weight:600;" >Forgot Password ?</p>
                  <p class="text-primary" data-bs-toggle="modal" id="signup-text" style="font-weight:600;">Create Account</p>
                </div>
                <button type="submit" class="my-3 btn btn-outline-success w-100" >Login</button>
            </form>
          </div>
          <form id="signin-form" class="hide" enctype="multipart/form-data">
            <div class="d-flex  justify-content-center">
                <img src="{{url_for('static',filename='images/user-solid.svg')}}" alt="" height="100" width="100" class="rounded-circle border border-info p-1">
            </div>
    
            <div class="form-floating mb-3 mt-3">
                <input type="text" required class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                <label for="name">First Name</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="text" required class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                <label for="last">Last Name</label>
            </div>
            
            <div id="dynamo" >
                <div class="form-floating mb-3 mt-3">
                  <input type="text"  class="form-control" id="shop" placeholder="Enter your Shop Name" name="shop">
                  <label for="last">Shop-Name</label>
                </div>
                <div class=" form-floating mb-3 mt-3">
                  <h4>Select your product category</h4>
                  <div class="form-check container col-12 w-100">
                    <div class="col-3">
                      <input  type="checkbox" name="d" class="form-check-input"  value="jewelry" id="jw">
                      <label class="form-check-label" for="jw">Jewelry</label>
                    </div>
                    <div class="col-3">
                      <input  type="checkbox" name="d" class="form-check-input"  value="homedecor" id="hd">
                      <label class="form-check-label" for="hd">Home Decor</label>    
                    </div>
                    <div class="col-3">
                      <input  type="checkbox" name="d"  class="form-check-input" value="pottery" id="pot">
                      <label class="form-check-label" for="pot">Pottery</label>    
                    </div>
                    <div class="col-3">
                      <input  type="checkbox" name="d"  class="form-check-input" value="toys" id="toy">
                      <label class="form-check-label" for="toy">Toys & Games</label>    
                    </div>
                    <div class="col-3">
                      <input  type="checkbox" name="d"  class="form-check-input" value="furniture" id="fur">
                      <label class="form-check-label" for="fur">Furnitures</label>    
                    </div>
                    <div class="col-3">
                      <input  type="checkbox" name="d"  class="form-check-input" value="art" id="art">
                      <label class="form-check-label" for="art">Art Works</label>    
                    </div>
              
                  </div>
                </div>
            </div>
           
            <div id="refer" class="form-floating mb-3 mt-3">
                <input type="email" required class="form-control" id="email" placeholder="Enter email" name="email">
                <label for="email">Email</label>
            </div>
              <div class="form-floating mt-3 mb-3">
                <input type="password" required class="form-control" id="pwd" placeholder="Enter password" name="password">
                <label for="pwd">Password</label>
              </div>
              <div class="form-floating mt-3 mb-3">
                <input type="tel" required class="form-control" id="phoneno" placeholder="Enter Phone number" name="phoneno">
                <label for="phoneno">Contact Number</label>
              </div>
              <div class="form-floating mt-3 mb-3">
                <input type="text" required class="form-control"  id="addr" placeholder="Enter Address" name="addr">
                <label for="addr">Address</label>
              </div>
              <div class="d-flex gap-2 mb-2">
                <input  type="checkbox" name="terms" required class="form-check-input" checked  value="agree" id="terms">
                <label id="p" for="terms">By continuing, you agree to Our Conditions of Use and Privacy Policy as a buyer</label>  
              </div>
              <div class="d-flex flex-row gap-2 justify-content-between align-items-right">
                <p class="text-primary" data-bs-toggle="modal" id="signin-text"  style="font-weight:600;">Already have an account</p>
              </div>

              <button id="cbuyer" class="btn btn-outline-success w-100" type="submit">Create</button>
          
          </form>
        </div>
      </div>

      <div class="resetdiv bg-light text-dark p-3 flex-column gap-2" id="resetdiv">
        <div class="otphead d-flex flex-row justify-content-end" >
          <h5 class="m-0 text-end" id="resetclose">X</h5>
        </div>
        <h3 class="m-0 text-center">Forgot Password</h3>
        <p class="text-center ps-1 m-0">Enter your email to get password reset link.</p>
        <form action="{{url_for('forgotPass')}}" method="post" class="d-flex flex-column gap-2">
          <div id="refer" class="form-floating mb-1 mt-3">
            <input type="email" required class="form-control" id="resetEmail"  name="resetEmail">
            <label for="resetEmail">Email</label>
          </div>
          <div class="form-floating mb-1">
            <select id="select" required  class="form-select" aria-label="Default select example" name="userType">
              <option value="buyer" selected>Buyer</option>
              <option value="seller">Seller</option>
            </select>
            <label for="select">Role</label>
          </div>
          <button class="btn btn-dark" type="submit">Request Password Reset</button>  
        </form>
      </div>

      <div class="otpdiv bg-light text-dark p-3  flex-column gap-2" id="otpdiv">
        <div class="otphead d-flex flex-row justify-content-end" >
          <h5 class="m-0 text-end" id="otpclose">X</h5>
        </div>
        <h3 class="m-0 text-center" id="otpTitle">OTP verification</h3>
        <p class="text-center ps-1 m-0">Enter the 8 digit code send to your email.</p>
        <div id="refer" class="form-floating mb-1 mt-3">
          <input type="number" required class="form-control" id="otpinput"  name="otpinput">
          <label for="otpinput">Otp</label>
        </div>
        <button class="btn btn-dark" id="otpBtn" >Verify OTP</button>
      </div>
  </div>
  </main>

     <style>
      .bg1{
          width: 100%;
          background: url("{{url_for('static',filename='images/background-img.jfif')}}");
        /*url("../images/background-img.jfif");
      */    background-size: cover;
      background: cornflowerblue;
      background: url('./../static/images/image15.jpg');
      background-size: cover;
      min-height: 75vh;
      }
      .mh{
        min-width: 120px;
      }
      .useractive{
        border-bottom: 4px solid black;
      }
      .usertypes{
        background-color: transparent;
        color: black!important;
      }
      .hide{
        display: none;
      }
      .dynamicContent{
        max-height: 350px;
        overflow-y: auto;
      }
      #dynamo{
        display: none;
      }
      #resetdiv,#otpdiv{
        display: none;
        position: absolute;
        top: 10%;
        right: 5%;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 3;
        min-width: 250px;
        max-width: 300px;
      }
      #otpdiv{
        left: 5%;
        z-index: 5;
        max-width: 250px;
      }
      #resetclose{
        font-family: sans-serif;
        text-shadow: 0 0 10px black;
        cursor: pointer;
      }
      .userMainDiv{
        max-width: 400px;
        min-width: 280px;
        background-color: #ffffffa1;
        width: 100%; max-height: 95%;
        border-radius: 12px;
      }
  </style>
   
    <script src="{{url_for('static',filename='js/login.js')}}"></script>

{% endblock %}